.selected-true {
    background-color: rgba(128, 128, 128, 0.445);
}

.selected-false{
    background-color: white;
}

.error-list-inline {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(179, 25, 25);
    font-style: italic;
}