.selected-true {
    background-color: rgba(168, 168, 168, 0.445);
}

.selected-false{
    background-color: white;
}

.selected-false, .selected-true {
    width: 100%;
}

.checkin-div.selected-false:hover, .checkout-div.selected-false:hover {
    background-color: rgba(223, 223, 223, 0.603);
}

.checkin-div {
    padding-left: 10px;
}
.checkout-div {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(128, 128, 128, 0.322);
}

.error-list-inline {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(179, 25, 25);
    font-style: italic;
}

.booking-form-container {
    position: absolute;
    box-sizing: border-box;
    right: -400px;
    top: 430px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.sticky-form {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 350px;
}

.haunt-booking-info-container {
    /* padding: 25px; */
    /* border: 1px solid rgba(128, 128, 128, 0.322); */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(180, 180, 180, 0.158);
    height: 100%
}

.haunt-price-top {
    padding: 10px;
}

.current-booking-ranges-div {
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    /* border: 1px solid rgba(128, 128, 128, 0.322); */
    box-shadow: 2px 1px 7px 3px rgba(180, 180, 180, 0.158);
}

.current-booking-ranges-div ul, .current-booking-ranges-div h5 {
    padding: 6px;
    margin: 0px;
}

.current-booking-ranges-div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:rgb(98, 185, 149);
}

.current-booking-ranges-div ul li {
    padding: 8px 5px;
}

.current-booking-ranges-div ul li i {
    padding-right: 4px;
}

.select-p {
    color: rgb(98, 185, 149);
}

.book-dates-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgba(128, 128, 128, 0.322);
    margin-top: 10px;
}

.guests-container {
    position: relative;
    margin-top: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.322);
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
    width: 100%;
}

.date-input-container {
    text-align: center;
    background-color: rgba(168, 168, 168, 0.445);
    padding: 10px;
}

.haunt-price-top > h2 {
    margin: 0px;
}

.haunt-price-top > h2 + div {
    font-size: 13px;
    padding-bottom: 5px;
}


.guests-select-dropdown {
    margin: 0px;
    padding-bottom: 10px;
    position: relative;
    font-size: 20px;
    border: 0px;
    width: 95%;
    left: 5px;
}

.guests-select-dropdown:focus {
    outline-width: 0;
}

.book-submit-container {
    position: relative;
    text-align: center;
    background-color: rgba(98, 185, 149);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.book-submit-container:hover {
    background-color: rgba(98, 185, 149, 0.5);

}

.book-submit {
    color:white;
    width: 100%;
    border-radius: 0px;
    background-color: transparent;
    margin: 0px;
    padding: 12px 0px;
}

.book-submit:hover {
    transform: none;
}

.success {
    color:rgb(179, 25, 25);
    align-self: center;
}