.slide-container {
    width: 100vw;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    text-align: center;
}

.slide-img-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 480px;
    transition: left 2s;
    -webkit-transition: left 2s;
}

.slide-img {
    margin: 0px;
    padding: 0px;
    padding-right: 15px;
    width: 100%;;
    height: 100%;
    object-fit: cover;
    /* float: left; */
}

.slide-button-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    width: 100vw;
    height: 50px;
    position: absolute;
    top: 300px;
}

.slide-button-prev .slide-button-next {
    display: inline-block;
    position: relative;
    min-height: 50px;
    min-width: 50px;
}

.slide-button-container > div > i {
    height: 50px;
    width: 50px;
    color: rgba(255, 255, 255, 0.699);
    font-size: 2rem;
}