.listings-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: auto;
}

input, select, .icon-section {
    color:rgb(98, 185, 149)
}

.icon-section {
    font-size: 20px;
}

.listings-right-div {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 700px;
}

.user-left-col {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 380px;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.473);
    padding: 20px;
    border-radius: 5px;
    margin-right: 50px;
}

.listings-haunts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    
}

.listing-nav-links {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}

.listing-nav-links > li > p.num {
    margin-top: 0px;
    padding-top: 0px;
}

.listing-nav-title {
    font-size: 20px;
}

.coming-soon {
    color: rgba(255, 0, 0, 0.356);
    font-size: small;
    transition: .5s;
}

.coming-soon:hover{
    color: red
}

.user-view-haunts {
    position:relative;
    height: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.user-view-haunts > .block-info-container {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(98, 185, 149);
    border-radius:  0px 0px 24px 24px;
    padding: 10px;
}



.user-view-haunts > .block-info-container > .block-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 5px;
}

.user-view-haunts > div > p {
    text-align: left;
}

.user-view-haunts > .img-container {
    background-position: top;
}

.listing-title, .num {
    font-size: 20px;
}

.edit-delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit-button, .delete-button {
    display: inline;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 30%;
    margin-bottom: 20px;
    align-self: center;
    font-size: small;
    background-color: rgba(230, 230, 230, 0.733);
    transition: .5s;
}

.delete-button {
    /* border-radius: none; */
    font-size: 25px;
    color: rgb(179, 25, 25)
}

.create-button {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    background-color: rgba(98, 185, 149, 0.562);
}

.create-haunt-div {
    border-top: 1px solid rgba(128, 128, 128, 0.329);
    
}

.create-button:hover {
    background-color: rgba(98, 185, 149);
}

.edit-button:hover, .delete-button:hover {
    background-color: rgba(230, 230, 230);
}

.user-profile {
    font-size: 50px;
    height: 80px;
    width: 104px;
    padding-top: 24px;
    background-color: rgb(98, 185, 149);
    border-radius: 50%;
}

check-icon  {
    display: inline;
}

button {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea {
    height: 150px;
    width: 280px;
    padding: 10px;
}

.dungeon-icon:hover ~ .add-help {
    color:rgb(98, 185, 149) !important;
    /* font-style: italic; */
}

.add-help {
    padding-bottom: 2px;
    transition: .5s;
}

.edit-listing-form > .dungeon-icon > .fa-solid {
    font-size: 35px;
}

.edit-listing-form h2 {
    margin-bottom: 5px;
}

.error-list {
    position: absolute;
    box-sizing: border-box;
    left: -230px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(209, 30, 30);
    background-color: rgb(230, 230, 230);
    padding: 40px 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.322);
}

.error-x {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
}