h1, h2, h3, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}

ul {
    list-style: none;
}

.nav-link {
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: pink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}