h1, h2, h3, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20px;
    margin-bottom: 25px;
}

ul {
    list-style: none;
}

.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link, .host-signup-button {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(238, 230, 230);
    color: rgb(98, 185, 149);
    /* transition: .5s; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .nav-link:hover {
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.233);
} */

.nav-button {
    transition: .5s;
}

.nav-button:hover {
    transform: translateY(-2px);
}

.main-logo {
    width: 250px;
}

.haunts-icon {
    padding-bottom: 5px;
    font-size: 25px;
    color: rgb(98, 185, 149);
    transition: 1s;
}

.dungeon-icon {
    padding: 10px;
    text-align: center;
}

.haunts-icon:hover {
    transform: translateY(-2px);
}

.haunts-icon:hover + .add-help {
    color:rgb(98, 185, 149)
}

.profile-dropdown {
    position: absolute;
    background-color: rgba(241, 241, 241, 0.795);
    text-align: center;
    border-radius: 5px;
    top: 70px;
    right: 30px;
    color: rgb(98, 185, 149);
    padding: 10px;
}

.fa-rectangle-xmark {
    color: rgb(175, 26, 26)
}