h1, h2, h3, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20px;
    margin-bottom: 25px;
}

ul {
    list-style: none;
}

.right-nav {
    display: flex;
    flex-direction: row;
}

.nav-link {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: pink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main-logo {
    width: 250px;
}