
.loginform, .signup-form {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 50vw;
}

label {
    padding: 5px;
    display: block;
}

input {
    margin: 10px;
}

button {
    all: unset;
    text-align: center;
    border: 1px solid rgb(214, 139, 139);
    border-radius: 5px;
    padding: 5px;
    /* width: 50px; */
}