
.loginform, .signup-form, .edit-listing-form {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    height: auto;
    /* max-height: 80vh; */
    overflow-wrap: normal;
    width: 30vw;
    padding: 20px;
}

h2, h5 {
    margin-top: 0px;
}

label {
    padding: 5px;
    display: block;
}

input, select, textarea {
    border: 1px solid rgba(128, 128, 128, 0.445);
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

button {
    all: unset;
    text-align: center;
    border: 1px solid rgb(98, 185, 149);
    border-radius: 5px;
    padding: 5px;
    /* width: 50px; */
}