
.loginform, .signup-form, .edit-listing-form {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    max-height: 90vh;
    overflow-wrap: normal;
    width: 40vw;
    min-width: 500px;
    padding: 20px;
    overflow-y: auto;
}

h2, h5 {
    margin-top: 0px;
}

label {
    padding: 5px;
    display: block;
}

input, select, textarea {
    border: 1px solid rgba(128, 128, 128, 0.445);
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

button {
    all: unset;
    text-align: center;
    color: rgb(98, 185, 149);
    background-color: rgb(238, 230, 230);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: .5s;
    /* width: 50px; */
}

button:hover {
    transform: translateY(-2px);
}

.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.login-buttons > .demo {
    font-size: small;
    color: white;
    background-color: rgba(98, 185, 149, 0.527)
}